<?xml version="1.0" encoding="utf-8"?>
<robot name="3fgripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find fingertest)/urdf/fingertest.xacro"/>
    <xacro:include filename="$(find gripper_base)/urdf/gripper_base.xacro"/>
    <xacro:include filename="$(find gripper)/urdf/3fgripper.gazebo"/>
    <link name="world"/>

  <xacro:gripper_base parent="world" child="gripper_base_link">
    <origin xyz="0 0 0.22" rpy="3.14 0 0"  />
  </xacro:gripper_base>

  <xacro:fingertest side="r" parent="r_finger_link" child="r_base_link">
    <origin xyz="-0.0264 0 0" rpy="0 0 0" />
  </xacro:fingertest>

  <xacro:fingertest side="l" parent="l_finger_link" child="l_base_link">
    <origin xyz="-0.0264 0 0" rpy="0 0 0" />
  </xacro:fingertest>

  <xacro:fingertest side="m" parent="gripper_base_link" child="m_base_link">
    <origin xyz="0.0264 0 0.0565" rpy="0 0 3.14" />
  </xacro:fingertest>
</robot>


